.logos {
  display: flex;
  flex-direction: row;
  height: 64px;
  margin: 0 auto;
  align-items: center;
  margin-top: 0;
  gap: 12px;

  img {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .logos {
    flex-direction: column;
    height: auto;
    width: 100%;

    img {
      width: 50%;
    }
  }
}